.page-wrapper {
    height: 95vh;
    background-color: rgb(243, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center
}

.circle-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.label {
    position: absolute;
    text-align: center;
    cursor: pointer;
    color: white;
    text-shadow: 2px 1px  #a01818;
    font-size: 18px;
    width: 150px;
    height: 100px;
    padding-top:40px;
    top: 110px;
    left: 90px;
    transform: translate(-50%, -50%);
}

.circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12.5px;
    background-clip: content-box;
    background-color: rgb(187, 27, 27);
    border-top: 3.5px dashed #2162c4;
    border-right: 3.5px dashed #2162c4;
    border-bottom: 3.5px dashed #171518;
    border-left: 3.5px dashed #171518;
    animation: spin 10s linear infinite
}

#checkbox {
    display: none;
}

#checkbox:checked + .circle{
    animation: reverse-spin 10s linear infinite
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes reverse-spin {
    100% {
        transform: rotateZ(-360deg);
    }
}